:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.95);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff63d8;
  text-decoration: inherit;
}
a:hover {
  color: #ff8ae4;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background: linear-gradient(to right, #ff63d8, #ff8ae4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5em;
}

button {
  border-radius: 8px;
  border: 1px solid #ff63d8;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: #ff63d8;
  color: #000;
}
button:focus,
button:focus-visible {
  outline: 2px solid #ff8ae4;
}

/* Remove light mode theme */
@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: #000000;
  }
  a:hover {
    color: #ff8ae4;
  }
  button {
    background-color: transparent;
  }
}
